USE [master]
GO
/****** Object:  Database [TEST_DB]    Script Date: 07/26/2020 6:59:04 AM ******/
CREATE DATABASE [TEST_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEST_DB', FILENAME = N'E:\Ecommerce\DB\TEST_DB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TEST_DB_log', FILENAME = N'E:\Ecommerce\DB\TEST_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TEST_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TEST_DB]
GO
/****** Object:  Table [dbo].[CategoryMaster]    Script Date: 07/26/2020 6:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryMaster](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[PriceRange] [nvarchar](50) NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_CategoryMaster] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductDetailsMaster]    Script Date: 07/26/2020 6:59:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetailsMaster](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[Discount] [decimal](18, 2) NULL,
	[ExpirationDate] [datetime] NULL,
 CONSTRAINT [PK_ProductDetailsMaster] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CategoryMaster] ON 

INSERT [dbo].[CategoryMaster] ([CategoryID], [Name], [Description], [PriceRange], [DisplayOrder]) VALUES (4, N'uig', N'ghjg', N'12', 87)
INSERT [dbo].[CategoryMaster] ([CategoryID], [Name], [Description], [PriceRange], [DisplayOrder]) VALUES (5, N'sandeep', N'ere', N'34', 23)
SET IDENTITY_INSERT [dbo].[CategoryMaster] OFF
SET IDENTITY_INSERT [dbo].[ProductDetailsMaster] ON 

INSERT [dbo].[ProductDetailsMaster] ([ProductID], [CategoryID], [Name], [Description], [Quantity], [Price], [Discount], [ExpirationDate]) VALUES (4, 1, N'drte', N'kjh', 12, CAST(2.00 AS Decimal(18, 2)), CAST(12.00 AS Decimal(18, 2)), CAST(0x0000AC0700000000 AS DateTime))
INSERT [dbo].[ProductDetailsMaster] ([ProductID], [CategoryID], [Name], [Description], [Quantity], [Price], [Discount], [ExpirationDate]) VALUES (5, 4, N'erer`', N'wewe', 2323, CAST(12.00 AS Decimal(18, 2)), CAST(12.00 AS Decimal(18, 2)), CAST(0x0000AC8C00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductDetailsMaster] OFF
USE [master]
GO
